## Análisis de Bases de Datos - Taller 2
### Ejercicio 2
##### Nicolas Alvarez Triana, Pablo Gonzalez Baron, Eduards Alexis Mendez, David Felipe Mora

In [ ]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)

In [ ]:
from pandasql import sqldf
import pandas as pd
mysql = lambda q: sqldf(q, globals())

In [ ]:
direccion_url = 'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'
datos_url_df = pd.read_html(direccion_url)
datos_countries_df = datos_url_df[0]
datos_countries_df = datos_countries_df[datos_countries_df.columns]
datos_countries_df.columns = ['Country','ContinentalRegion','StatisticalSubregion','Population2018','Population2019','Change']
datos_countries_df

                               Country  ...  Change
0                             China[a]  ...  +0.43%
1                                India  ...  +1.02%
2                        United States  ...  +0.60%
3                            Indonesia  ...  +1.10%
4                             Pakistan  ...  +2.04%
..                                 ...  ...     ...
229  Falkland Islands (United Kingdom)  ...  +4.42%
230                               Niue  ...  −0.31%
231              Tokelau (New Zealand)  ...  +1.59%
232                    Vatican City[z]  ...  −0.25%
233                              World  ...  +1.08%

[234 rows x 6 columns]

1. Pais con mayor población durante 2019

In [ ]:
query = '''SELECT Country, ContinentalRegion, StatisticalSubregion 
                FROM (SELECT *, Max(Population2019) as MayorPoblacion 
                            FROM datos_countries_df WHERE Country != 'World' );'''
mysql(query)

    Country ContinentalRegion StatisticalSubregion
0  China[a]              Asia         Eastern Asia

2. Pais con mayor tasa de crecimiento para el periodo 2018-2019

In [ ]:
query = '''SELECT Country, ContinentalRegion, StatisticalSubregion 
                FROM (SELECT * , MAX(((CAST(Population2019 AS float)/CAST(Population2018 AS float))-1)*100) 
                            FROM datos_countries_df);'''
mysql(query)

   Country ContinentalRegion StatisticalSubregion
0  Bahrain              Asia         Western Asia

3. Pais con menor tasa de crecimiento para el periodo 2018-2019

In [ ]:
query = '''SELECT Country, ContinentalRegion, StatisticalSubregion 
                FROM (SELECT *, MIN(((CAST(Population2019 AS float)/CAST(Population2018 AS float))-1)*100) 
                            FROM datos_countries_df);'''
mysql(query)

                       Country ContinentalRegion StatisticalSubregion
0  Puerto Rico (United States)          Americas            Caribbean

4. Tasa de crecimiento de Asia para el periodo 2018-2019

In [ ]:
query = '''SELECT ContinentalRegion, ((CAST(SUM(Population2019) AS float)/CAST(SUM(Population2018) AS float))-1)*100 AS TasaCrecimientoAsia2018_2019 
                FROM datos_countries_df 
                WHERE ContinentalRegion = 'Asia';'''
mysql(query)

  ContinentalRegion  TaseCrecimientoAsia2018_2019
0              Asia                      0.892113

5. Tasa de crecimiento de America del sur para el periodo 2018-2019

In [ ]:
query = '''SELECT ContinentalRegion, StatisticalSubregion, ((CAST(SUM(Population2019) AS float)/CAST(SUM(Population2018) AS float))-1)*100 AS TasaCrecimientoAmericaSur2018_2019 
                FROM datos_countries_df 
                WHERE ContinentalRegion = 'Americas'  
                AND StatisticalSubregion = 'South America';'''
mysql(query)

  ContinentalRegion StatisticalSubregion  TasaCrecimientoAmericaSur2018_2019
0          Americas        South America                             0.85404

6. Los continentes con mayor y menor tasa de crecimiento, respectivamente

In [ ]:
query = '''SELECT ContinentalRegion, ((CAST(SUM(Population2019) AS float)/CAST(SUM(Population2018) AS float))-1)*100 AS TasaCrecimientoContinente2018_2019 
                FROM datos_countries_df 
                WHERE ContinentalRegion != 'None' 
                GROUP BY ContinentalRegion;'''
mysql(query)

  ContinentalRegion  TasaCrecimientoContinente2018_2019
0            Africa                            2.521225
1          Americas                            0.815600
2              Asia                            0.892113
3            Europe                            0.102263
4           Oceania                            1.335360